.bi.bi-box-arrow-left:hover{
  color: red;
}

.card-img-top.img-fluid{
  width: 100px;
  height:100px;
}

.card-text.bg-tertiary{
  padding-right: 3px;
}

.background{
  background-image: url(https://play-lh.googleusercontent.com/pXn5gZYTebtoEeQDkGh8Qz88EclFnZ9v_cGasmKvsvRBU8CKnkvFv26yaF1vbK066Q);
  background-size: contain;
  font-size: 12px;
  padding:25px 25px;
  border-radius: 30px;
}

.rel{
  position: relative;
}

.cont{
  position: relative;
  left: -154px;
  bottom: -8px;
}


