<h3 class="text-center my-5">Ecco i tuoi preferiti</h3>

<div class="container">


  <div class="text-end my-3 d-flex justify-content-around">
    <button (click)="logOut()" class="btn btn-danger me-5">Logout</button>
    <button rouuterLink="/dashboard"class="btn btn-info me-5">indietro</button>
  </div>


  <div class="row ">

    <div class="col-12 col-md-6 col-lg-4 mb-2 background row" *ngFor="let c of cityArr">

      <div class="card p-3">

        <div class="row">

          <div class="col-6 text">
            <div class="col-12">
              <h5 class="card-title fw-bold">{{c.name}}</h5>
              <p class="card-text fw-bold">{{c.sys.country}}</p>
              <p class="card-text fw-bold">{{c.dt|date:'dd-MM / HH:mm'}}</p>
            </div>
            <div class="col-12">
              <p class="card-text fw-semibold">{{c.weather[0].description}}</p>
            </div>
          </div>

          <div class="col-6 img rel">
            <img [srcset]="iconUrl+c.weather[0].icon+'.png'" class="card-img-top img-fluid" alt="iconWeather">
            <div (click)="deleteILoveCity( c.id, c.name)" class="btn btn-danger cont">
              <i class="bi bi-trash"></i>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-4"><span class="card-text bg-tertiary fw-semibold">Temp:{{c.main.temp}}°</span></div>
                  <div class="col-4"><span class="card-text bg-tertiary fw-semibold">Min:{{c.main.temp_min}}°</span>
                  </div>
                  <div class="col-4"><span class="card-text bg-tertiary fw-semibold">Max:{{c.main.temp_max}}°</span>
                  </div>
                </div>
              </div>

              <div class="col-6 ">
                <p class="card-text fw-semibold">💧Umidità:{{c.main.humidity}}%</p>
              </div>
              <div class="col-6  ">
                <p class="card-text fw-semibold">🌪:{{c.wind.speed}}m/s</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
