.container{
  background-image: url('https://media.gettyimages.com/id/1485185804/it/foto/checklist-with-check-marks-and-a-cross-mark.jpg?s=612x612&w=0&k=20&c=fsWj6zfjP4SD3l4GX7PNr9BkDb70GNuXE8Arxt5SvH4=');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  height: 100vh;
}
