
<header>
<nav class="d-flex justify-content-center py-3 ">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active" aria-current="page">
      <i class="bi bi-house-door fs-1"></i>
      </a>
  </li>
    <li class="nav-item"><a routerLink="/preferiti" class="nav-link fs-1">Preferiti</a></li>
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-cart4 fs-1"></i>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"></li>
      </ul>
    </div>
  </ul>
</nav>
</header>
