.container {
  text-align: center;
  margin-top: 5rem;
}

.load {
  font-size: 1.5rem;
  color: #881B80;
  margin-top:1rem;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
}

input,
.create {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 30px;
}

.create {
  background-color: #881B80;
  color: white;
  margin-left: 0.5rem;
  opacity: 0.6;
}

.create:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 1;
}


.delete:hover,
.check:hover{
  transform: scale(1.5);
  cursor: pointer;
}

h2 {
  color: #881B80;;
}

.box-todo {
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
  width: 50%;

}

.todo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom:0.5rem ;
  background-color: rgba(98, 4, 98, 0.554);
  border-radius: 30px;
  max-width: 100%;
  padding: 0.5rem;
}

.todo:hover{
  background-color: #881B80;
  transform: scale(1.2);
}

.delete,
.check {
  margin-left: 1rem;
}



