<div class="conteiner">
  <h3 class="text-center my-5 fw-bold">{{cityArr.city.name}}</h3>

  <table class="table">
    <thead>
      <th>Data e Ora</th>
      <th></th>
      <th>Descrizione</th>
      <th>Temp°</th>
      <th>Min°</th>
      <th>Max°</th>
      <th>Umidità %</th>
      <th>Vento m/s</th>
    </thead>
    <tbody>
      <tr *ngFor="let d of cityArr.list;">
        <td>{{d.dt_txt}}</td>
        <th> <img [srcset]="iconUrl+d.weather[0].icon+'.png'" class="card-img-top img-fluid" alt="iconWeather"></th>
        <td>{{d.weather[0].description}}</td>
        <td>{{d.main.temp}}°</td>
        <td>{{d.main.temp_min}}°</td>
        <td>{{d.main.temp_max}}°</td>
        <td>{{d.main.humidity}}%</td>
        <td>{{d.wind.speed}} m/s</td>
      </tr>
    </tbody>
  </table>
</div>
