.container {
  text-align: center;
  margin-top: 5rem;
}

.load {
  font-size: 1.5rem;
  color: #881B80;
  margin-top:2rem;
  font-size: 2rem;
  font-weight: bold;
}

.delete:hover,
.check:hover {
  cursor: pointer;
}

.check:hover {
  transform: scale(1.2);
  color: #881B80;
  font-weight: bold;
}

.delete:hover{
  transform: scale(1.5);
}

h2 {
  color: rgb(98, 4, 98);
}

.box-todo {
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
  width: 50%;

}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:0.5rem ;
  background-color: rgba(98, 4, 98, 0.554);
  border-radius: 30px;
  max-width: 100%;
  padding: 0.5rem;
}

.todo:hover{
  background-color: #881B80;
  transform: scale(1.2);
}

.delete,
.check {
  margin-left: 1rem;
}
.check {
  padding: 0.5rem;
  background-color: violet;
  border-radius: 30px;
  color: white;
}
