
/* header home Netflix*/

.navbar img{
    width: 90px;
}

i{
    height: 30px;
    width: 30px;
}

.px-3 .navbar .collapse .d-flex i, .d-flex .nav-link.pe-5.pe-lg-3{
    color: white;
}

footer .row .d-flex i{
    font-size: 25px;
}

 .navbar .collapse .d-flex .imgKids img{
    height: 30px;
    width: 30px;
}
 
.collapse .navbar-nav
 a:hover{
    color: red;
}

.navbar .collapse .d-flex 
.nav-link.pe-5.pe-lg-3:hover{
    color: red;
} 

/* section film*/

 .title .dropdown-menu li a:hover{
    background-color: red;
 }

 .row .mb-2{
    padding-left: 0;
    padding-right: 0;
 }

 /* footer*/

 footer .navbar-nav .nav-item p{
    font-size: 0.8rem;
 }

 /* Responsive container footer*/

 @media screen and (min-width :576px) {

    .containerFooter{
            margin:2% 0% 0% 2%;
        }
    }

 @media screen and (min-width :768px) {

.containerFooter{
        margin:5%;
    }
}

@media screen and (min-width :992px) {

    .containerFooter{
            margin:10%;
        }
    }



 