<div class="container">

  <h3 class="text-center fw-bold mt-5">Pagina di registrazione</h3>

  <form>
    <input [(ngModel)]="registerData.nome" class=" form-control mb-2" required placeholder="inserisci il tuo nome" name="nome" type="text">
    <input [(ngModel)]="registerData.cognome" class="form-control mb-2 " required placeholder="inserisci il tuo cognome" name="cognome" type="text">
    <input [(ngModel)]="registerData.email" class="form-control mb-2 " required placeholder="inserisci la tua email" name="email" type="email">
    <input [(ngModel)]="registerData.password" class="form-control mb-2 " required placeholder="inserisci il tuo password" name="password" type="password">
    <button
    (click)="save()"
    class="btn btn-primary text-center">Registrami</button>
  </form>

</div>
